@import url('http://fonts.cdnfonts.com/css/adobe-clean');

html{
  font-family: 'Adobe Clean', sans-serif;
}

body > * {
  margin: auto;
  text-align: center;
  width: 1550;
}

body > header {
  font-weight: 900;
  font-size: xx-large;
  background: -webkit-linear-gradient(#eee, #333, #eee);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#query-form {
  margin: 25px auto;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
}

#query-form > * {
  text-align: left;
  width: calc(25% - 10px);
  margin: 5px;
}

#query-form > label {
  text-align: right;
}

#submit {
  text-align: center;
  margin: 10px auto;
}

#scroll-menu {
  text-align: center;
}

button {
  background-color: white;
  border-radius: 5px;
}

button:hover {
  background-color: lightgray;
}

#disp-pokemon-img {
  padding: 10px;
  border: 1px solid black;
  width: 278px;
  height: 278px;
  margin: 10px 25px;
}

#stats-table {
  width: 300px;
  border-collapse: collapse;
  margin-right: 350px;
}

#result-table {
  margin-bottom: 60px;
}

#disp-name {
  width: 200px;
}

.disp-stat {
  background-color: lightblue;

  transition: width 0.25s ease-out;
}